@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-intro">
    <div class="text-center container">
        <h1 data-mdb-toggle="animation"
            data-mdb-animation="zoom-in"
            data-mdb-animation-start="onLoad"
            class="display-4">
            Welcome Your Dev Retailer Outlet
        </h1>
        <h3>Where coding and outlet shopping makes sense.</h3>
        <br />
        <a href="mailto:mail@gmail.com" class="btn-primary btn btn-lg p3">More Info</a>
    </div>
</div>

<div class="container mt-5 mb-5">
    <br /><br /><br />
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-3">
            <img 
                data-mdb-toggle="animation"
                data-mdb-animation-start="onScroll"
                data-mdb-animation="fade-in"
                class="img-fluid shadow-1-strong rounded"
                src="https://images.unsplash.com/36/yJl7OB3sSpOdEIpHhZhd_DSC_1929_1.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=747&q=80" 
                alt="shopping"/>
		</div>
        <div class="col-md-6 col-sm-12 mt-3">
            <h1>New Outlets</h1>
            <hr />
            <p class="lead">
                We have new shopping centers for the upcoming Holiday Seasons!!!
                These stores include toys, video games, seasonal clothing, and 
                also a chance to win a shopping spree.
			</p>
            <br />
            <a href="#!" class="btn-primary btn btn-lg p3">Go To Page</a>
		</div>
	</div>
    <br /><br /><br />
    <h1 class="text-center display-3">Customer Reviews</h1>
    <br /><br />
    <div class="row">
        <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <ul class="rating" data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="4">
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                        </ul>
                    <h5 class="card-title">Mike Johnson</h5>
                    <p class="card-text">
                      "The shopping center was always my go to place for the Holidays."
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Visited 1 week ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
		</div>
        <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <ul class="rating" data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="3.5">
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                        </ul>
                    <h5 class="card-title">Dan Willis</h5>
                    <p class="card-text">
                      "Had a good time and enjoyed the new stores."
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Visited 2 weeks ago</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
		</div>
        <div class="col-md">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://mdbootstrap.com/wp-content/uploads/2020/06/vertical.jpg"
                    alt="..."
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <ul class="rating" data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="5">
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                          <li>
                            <i class="far fa-star fa-sm text-primary"></i>
                          </li>
                        </ul>
                    <h5 class="card-title">Mark Freeman</h5>
                    <p class="card-text">
                      "They had everything I needed for the Holiday and the price was okay"
                    </p>
                    <p class="card-text">
                      <small class="text-muted">Visited 2 weeks ago.</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
		</div>
	</div>
    <br /><br /><br />
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-3">
            <h1>New Lines</h1>
            <hr />
            <p class="lead">
                We have new clothing lines from well-known designers. For 
                all ages and any size, lots to choose from. Be sure to check 
                out our back to school designs.
			</p>
            <br />
            <a href="#!" class="btn-primary btn btn-lg p3">Go To Page</a>
		</div>
        <div class="col-md-6 col-sm-12 mt-3">
            <img 
                data-mdb-toggle="animation"
                data-mdb-animation-start="onScroll"
                data-mdb-animation="fade-in"
                class="img-fluid shadow-1-strong rounded"
                src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" 
                alt="shopping"/>
		</div>
	</div>
</div>